.badge-container {
  position: relative;
}

.badge {
  position: absolute;
  right: 0;
  top: 50%;
  margin: 1px;
  transform: translate(0, -50%);
  background-color: var(--badge-color);
  color: white;
  border-radius: 50%;
  padding: 0 4px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  border-radius: 9999px;
}

.badge.top-center {
  right: 50%;
  top: 0;
  transform: translate(50%, 0);
}
