#shipping-info {
  position: relative;
}

#cart-review {
  --table-row-gap: 1em;
}

#cart-review-title {
  margin-bottom: 8px;
}

#checkout-info h2 {
  margin-bottom: 16px;
}

.edit-address-btn {
  color: var(--secondary-color);
  padding: 8px 4px;
  margin-left: -4px;
}

.edit-address-btn .icon {
  background-color: var(--secondary-color);
}

.edit-address-btn span {
  margin-left: 4px;
}
