.grid {
  --image-viewer-aspect-ratio: calc(4 / 3);
  --image-viewer-max-width: 640px;
  --product-image-basis: 400px;
  --product-desc-basis: 380px;
  --row-gap: 10px;
  --col-padding: 16px;
  --col-min-width: auto;
  --col-max-width: 100%;
  --col-basis: auto;
}

.grid > .row:first-child {
  margin-top: 0;
}

.grid > .row:last-child {
  margin-bottom: 0;
}

.grid .row {
  margin-top: 10px;
  flex-wrap: wrap;
  max-width: 100%;
  gap: var(--row-gap, 10px);
  justify-content: center;
  min-width: fit-content;
}

.grid .col {
  min-width: var(--col-min-width);
  max-width: var(--col-max-width);
  flex: 1 1 var(--col-basis);
}

.grid .container {
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  padding: var(--col-padding, 16px);
  border-radius: var(--container-border-radius);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.grid .col > * {
  margin-top: var(--row-gap, 10px);
}

.grid .col > :first-child {
  margin-top: 0;
}

.grid .col > :last-child {
  margin-bottom: 0;
}

.product-info {
  gap: 1rem;
}

@media screen and (max-width: 640px) {
  .grid .col .container {
    padding: 10px 5px;
  }
}
