.order-card {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: var(--container-shadow);
  border-radius: var(--container-border-radius);
  padding: 32px 16px;
  gap: 16px;
  cursor: pointer;
  transform: translateY(0);
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
  margin-block: 8px;
}

.order-card .right-arrow-icon {
  flex-basis: auto;
}

.order-card:hover {
  transform: translateY(-2px);
  box-shadow: var(--lift-up-shadow);
}

.order-header {
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 8px;
  flex-grow: 1;
}

.order-header-item {
  flex: 1 1 200px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.order-total {
  color: var(--dark-gray);
  font-size: 14px;
  flex: 1 1 128px;
  justify-content: center;
  align-items: flex-end;
}

.order-total span {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 14px;
}

.order-id span {
  color: gray;
  font-weight: bold;
}

.order-id span:first-child {
  color: var(--light-gray-600);
  font-size: 14px;
  font-weight: normal;
}

.order-images .image {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.order-images {
  flex: 1 1 200px;
  gap: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 0;
}

.order-images-body {
  flex: 1 1 auto;
  width: 50px;
  gap: 4px;
}

.order-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-block: 16px;
}

.order-filters .order-searchbar {
  flex: 1 1 192px;
  max-width: 192px;
  transition: max-width 400ms ease-in-out;
}

.order-filters .order-searchbar:focus-within {
  max-width: 396px;
}

.no-order {
  text-align: center;
  margin-block: 32px;
  color: var(--light-gray-600);
  font-size: larger;
}

.filter-by-list {
  flex: 1 1 512px;
  width: 50px;
  display: flex;
  gap: 4px;
  overflow-x: auto;
}

.filter-by-list *,
.order-status {
  font-size: 14px;
}

.status-container .icon {
  background-color: var(--light-gray);
}

.status-container {
  --icon-size: 1.5em;
  padding: 6px;
  border-radius: var(--element-border-radius);
  background-color: var(--order-cancelled-color);
}

.status-container.status-processing {
  background-color: var(--order-processing-color);
}

.status-container.status-shipped {
  background-color: var(--order-shipped-color);
}

.status-container.status-delivered {
  background-color: var(--order-delivered-color);
}

.status-container.status-cancelled {
  background-color: var(--order-cancelled-color);
}

.status-container.status-pending {
  background-color: var(--order-pending-color);
}

@media (max-width: 768px) {
  .order-status {
    order: -1;
    flex-basis: 100%;
    width: 100%;
  }

  .order-images {
    flex-basis: 100%;
  }

  .order-total {
    order: 1;
  }
}
