.profile-col {
  --col-basis: 412px;
  --col-min-width: 128px;
}

.profile-big-pic {
  --profile-pic-size: 64px;
}

.profile-col .form-wrapper {
  margin-top: 16px;
}

.profile-col .container > div {
  width: fit-content;
}
