.select {
  --icon-size: 18px;
  position: relative;
  display: inline-block;
  border: 1px solid var(--light-gray-200);
  border-radius: var(--container-border-radius);
  background-color: var(--body-color);
  cursor: pointer;
  width: 100%;
}

.select .selected:hover {
  color: var(--confirm-color);
  background-color: var(--light-gray-100);
}

.select .selected {
  width: 100%;
  padding: 8px 8px;
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 1em;
}

.select .selected span {
  margin-right: 8px;
}

.select .selected span::before {
  content: attr(data-value);
}

.options {
  position: absolute;
  height: 0;
  overflow: auto;
  max-height: 400px;
  right: 0;
  top: 100%;
  background-color: var(--body-color);
  border-radius: var(--container-border-radius);
  overflow: hidden;
  margin-top: 4px;
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
  z-index: 99;
}

.options.open,
.select:has(*:focus-visible) .options {
  box-shadow: 0 0 5px 1px var(--light-gray-400);
  padding: 4px 4px;
  height: auto;
  opacity: 1;
}

.option label[data-selected='true'] {
  color: var(--confirm-color);
}

.option {
  border-radius: var(--element-border-radius);
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.option:hover {
  transform: scale(1.05);
  background-color: var(--light-gray-100);
}

.option input {
  display: none;
}

.option label {
  padding: 4px 18px;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}
