.timer-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  overflow: hidden;
}

.timer-bar-progress {
  position: relative;
  border-radius: 2px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.293);
  animation: progress linear forwards;
  opacity: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes progress {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
