.toaster {
  top: calc(var(--nav-sticky-top) + var(--nav-height) + var(--page-padding-y)) !important;
  transition: var(--nav-bring-down-transition);
}

.toast {
  border-radius: var(--element-border-radius) !important;
  color: var(--text-color) !important;
  background-color: var(--form-color) !important;
}

.toast-wrapper.enter {
  animation: slide-down 0.3s var(--animation-timing);
}

.toast-wrapper.exit {
  animation: slide-right 0.3s var(--animation-timing) forwards reverse;
}

.toast-wrapper {
  --animation-timing: cubic-bezier(0.78, 0.29, 0.32, 1.4);
}

@keyframes slide-down {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
