.toggle-wrapper {
  user-select: none;
}

.chip label:hover,
.radio label:hover {
  background-color: var(--light-gray-100);
  color: var(--confirm-color);
}

.chip input[type='checkbox'],
.radio input[type='radio'] {
  display: none;
}

.chip label,
.radio label {
  display: inline-block;
  text-transform: capitalize;
  cursor: pointer;
  padding: 8px;
  border-radius: var(--element-border-radius);
  background-color: var(--light-gray);
  border: 1px solid var(--light-gray-100);
}

.chip input[type='checkbox']:checked + label,
.radio input[type='radio']:checked + label {
  background-color: var(--confirm-color-light);
  border-color: var(--confirm-color);
}

.toggle input[type='checkbox'] {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 36px;
  margin-left: auto;
}

.toggle label {
  flex: 1 1 auto;
  order: -1;
  font-weight: bold;
  padding-left: 4px;
  padding-right: 8px;
}

.toggle input[type='checkbox']::before {
  position: absolute;
  background-color: #ffffff;
  border-radius: 999px;
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  left: 0;
  top: 2px;
  margin-inline: 2px;
  transition: all 0.2s ease-in-out;
}

.toggle input[type='checkbox']:checked::before {
  left: 100%;
  transform: translateX(-20px);
}

.toggle input[type='checkbox']:checked,
.toggle:hover input[type='checkbox']:checked {
  background-color: var(--confirm-color);
  border-color: var(--confirm-color);
}

.toggle > * {
  cursor: pointer;
}

.toggle {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle:hover input[type='checkbox'] {
  background-color: var(--light-gray-400);
  border-color: var(--confirm-color);
}

.toggle:hover label {
  color: var(--confirm-color);
}
