.dialog {
  text-align: center;
  height: fit-content;
  width: fit-content;
  max-width: 512px;
  width: 100%;
  margin-block: auto;
  flex-grow: 1;
}

.dialog-form {
  position: relative;
  background-color: var(--body-color);
  border-radius: var(--element-border-radius);
  padding: 16px;
}

.dialog-form .btn-group {
  justify-content: end;
  gap: 8px;
  flex-wrap: wrap;
}

.dialog-form .btn {
  width: 100%;
  flex: 1 1 fit-content;
}

.dialog-form > *,
.dialog-content > * {
  margin-bottom: 8px;
}

.dialog-form > *:last-child,
.dialog-content > *:last-child {
  margin-bottom: 0;
}

.dialog-content .image-list {
  grid-template-columns: repeat(auto-fit, 64px);
  justify-content: center;
}

.dialog-form-header {
  margin-bottom: 0;
}

.dialog-form .close-btn {
  display: block;
  margin-left: auto;
  padding: 8px;
}

.dialog-form .close-btn .icon {
  width: 18px;
  height: 18px;
}

.dialog-form .type-icon {
  --icon-size: 32px;
}

.dialog-form .icon.warning {
  background-color: var(--danger-color);
}

.dialog-form .icon.info {
  background-color: var(--confirm-color);
}

.confirm-modal {
  justify-content: center;
}
