.form-wrapper {
  --lg-input-min-width: 480px;
  --md-input-min-width: 240px;
  --sm-input-min-width: 120px;
  --form-max-width: 540px;
  --input-lg-width: 480px;
  --input-md-width: 240px;
  --input-sm-width: 120px;
  width: 100%;
}

.form-container {
  min-width: fit-content;
  max-width: 500px;
  border-radius: var(--container-border-radius);
  padding: 2rem;
  box-shadow: var(--container-shadow);
  background-color: var(--form-color);
  margin: 1rem;
  width: 100%;
}

.form-wrapper .btn {
  max-width: 200px;
  margin: 10px;
}

.styled-form {
  gap: 1rem;
  flex-wrap: wrap;
  max-width: var(--form-max-width);
}

.styled-form > * {
  width: 100%;
}

.styled-form .error {
  margin-bottom: 1em;
  color: var(--error-color, red);
}

.styled-form .btn {
  margin: 0;
}

.styled-form .text-input.lg {
  flex: 1 1 var(--lg-input-min-width);
}

.styled-form .text-input.md {
  flex: 1 1 var(--md-input-min-width);
}

.styled-form .text-input.sm {
  flex: 1 1 var(--sm-input-min-width);
}

.styled-form .text-input.max-sm {
  max-width: var(--sm-input-min-width);
}

.styled-form .text-input.max-md {
  max-width: var(--md-input-min-width);
}

.styled-form .text-input.max-lg {
  max-width: var(--lg-input-min-width);
}

.styled-form input[type='date'] {
  max-width: 140px;
}

.input-sm {
  max-width: var(--input-sm-width);
}

.input-md {
  max-width: var(--input-md-width);
}

.input-lg {
  max-width: var(--input-lg-width);
}
