.apply-btn {
  display: block;
  margin-top: 16px;
  position: sticky;
  bottom: 0;
}

.filter-menu fieldset {
  max-height: 400px;
  overflow: auto;
}

.filter-menu-inner > h3 {
  margin: 0;
  margin-left: 4px;
  margin-bottom: 8px;
}

.scroller-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
  margin-bottom: 0;
}

.scroller .scroller-wrapper > div {
  padding-inline: 8px;
}

.infinite-scroller {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--product-card-width), 1fr));
  gap: 1em;
  max-width: 100%;
  justify-content: center;
}

.infinite-scroller .card {
  width: 100%;
  margin: 0;
}

.infinite-scroller .image-viewer {
  height: auto;
}

.infinite-scroller,
.scroller-footer,
.no-results {
  width: 100%;
  flex: 1 1 auto;
}

.scroller-header,
.scroller-filters {
  flex: 1 1 50%;
  margin-bottom: 8px;
}

.scroller-filters {
  --filter-item-height: 38px;
  --icon-size: 32px;
  position: sticky;
  flex-basis: 0;
  flex-grow: 0;
  z-index: 1;
  margin-right: -8px;
  padding: 8px;
  margin-inline-start: auto;
  border-radius: 0 0 var(--container-border-radius) var(--container-border-radius);
  top: calc(var(--nav-sticky-top) + var(--nav-height));
  transition: var(--nav-bring-down-transition);
  background-color: var(--form-color);
  margin-bottom: 8px;
  user-select: none;
  white-space: nowrap;
}

.scroller-filters .overlay {
  z-index: 1;
}

.scroller-filters[data-active='true'] {
  z-index: 100;
}

.scroller-footer {
  margin-top: 1rem;
  color: var(--light-gray-600);
  text-align: center;
}

.scroller-footer > div {
  margin: 0 auto;
}

.total-count {
  font-size: medium;
  color: var(--light-gray-600);
}

.scroller-filters .select {
  width: 182px;
  height: var(--filter-item-height);
  z-index: 0;
}

.filter-btn {
  height: var(--filter-item-height);
  position: relative;
  z-index: 2;
}

.filter-container {
  position: relative;
  margin-left: 16px;
  width: fit-content;
  display: inline-block;
  vertical-align: middle;
}

.filter-menu {
  width: 0;
  height: 0;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  max-width: 256px;
  opacity: 0;
  z-index: 1;
  padding: 8px;
  padding-top: var(--filter-item-height);
  background-color: var(--body-color);
  border-radius: var(--container-border-radius);
  border: 1px solid var(--light-gray-200);
  margin-bottom: var(--page-padding-y);
  font-size: 14px;
}

.filter-menu-inner {
  height: 100%;
  overflow-x: auto;
  padding-top: 16px;
}

.filter-menu-inner li {
  margin-bottom: 16px;
}

.filter-menu-inner li:last-child,
.filter-menu .select li {
  margin-bottom: 0;
}

.filter-menu .select {
  z-index: 1;
  width: 100%;
  margin-bottom: 8px;
  display: none;
}

.filter-menu .select .options {
  width: 100%;
}

.filter-menu[data-active='true'] {
  width: 100%;
  height: auto;
  transition: opacity 200ms ease-in-out, transform 200ms ease-out;
  transform: translateX(0);
  opacity: 1;
}

.filter-menu .text-input.max-sm {
  max-width: 100px;
}

.filter-menu .text-input input,
.filter-menu .text-input label {
  background-color: var(--light-gray-100);
}

.filter-btn .menu-bar .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--dark-gray);
  opacity: 1;
}

.filter-btn[data-active='true'] .menu-bar .circle {
  opacity: 0;
}

.menu-bar.bar-1 .circle {
  left: 25%;
}

.menu-bar.bar-2 .circle {
  left: 75%;
}

.menu-bar.bar-3 .circle {
  left: 40%;
}

.price-range > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.price-range > ul > li {
  flex: 1 1 100px;
  margin: 0;
}

.price-range > ul > li .text-input {
  margin: 0;
}

@media (max-width: 760px) {
  .infinite-scroller {
    --product-card-width: 160px;
  }
}

@media (max-width: 600px) {
  .scroller-filters > .select {
    display: none;
  }

  .filter-menu .select {
    display: block;
  }

  .filter-container {
    margin-left: 0 !important;
  }
}

@media (max-width: 300px) {
  .filter-menu {
    max-width: none;
    left: 0 !important;
  }
}
