.loading-bar {
  --loading-color: #01a26a;
  --submitting-color: #00aaff;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--loading-bar-height, 2px);
  width: 100%;
  background-color: var(--loading-color);
  z-index: 999;
}

.loading-bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, transparent, var(--skeleton-shine-color), transparent);
  animation: shine-through 2s ease infinite;
}
