#modal-body {
  position: fixed;
  opacity: 0;
  top: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  overscroll-behavior: unset;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  pointer-events: none;
  padding: var(--page-padding-y) var(--page-padding-x);
  overflow: auto;
}

#modal-body.active {
  opacity: 1;
  top: 0;
  pointer-events: all;
}

@media (prefers-reduced-motion: no-preference) {
  #modal-body.active {
    transition: opacity 200ms ease-in-out;
  }
}

.modal-content {
  top: var(--nav-height);
  position: relative;
  width: 100%;
  min-height: 256px;
  max-height: min(calc(100vh - 2 * var(--nav-height)), 512px);
  max-width: 512px;
}
