#order-details > div {
  --table-row-gap: 8px;
}

.action-btn {
  color: var(--light-gray-800);
  min-width: fit-content;
  flex-basis: 400px;
}

.action-btn .icon {
  background-color: var(--light-gray-600);
  margin-right: 4px;
}

.action-btn:hover .icon {
  background-color: var(--confirm-color);
}

.action-btn:hover {
  color: var(--confirm-color);
}

.product-review-list .btn-flat {
  background-color: var(--light-gray-100);
  color: var(--confirm-color);
  border-color: var(--light-gray-200);
}

.order-grid {
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 16px;
  margin-top: 16px;
}

.order-grid h2 {
  margin-bottom: 16px;
}

.order-grid-item h3 {
  margin-bottom: 8px;
}

.product-header {
  margin-bottom: 0 !important;
}

.product-header ~ p {
  margin-bottom: 8px;
}

.address-wrapper {
  margin-bottom: 16px;
  font-size: 14px;
}

.order-grid-item {
  border-radius: var(--container-border-radius);
  box-shadow: var(--container-shadow);
  flex: 1 1 396px;
  padding: 16px;
}

.order-grid-item .product-title,
.order-grid-item .product-header {
  cursor: pointer;
}

.order-grid-item .product-title:hover *,
.order-grid-item .product-header:hover * {
  color: inherit;
}

.order-grid-status {
  position: relative;
  padding: 16px;
}

.order-grid-status .status-container {
  height: fit-content;
}

.order-grid-status::after {
  position: absolute;
  border-radius: var(--container-border-radius);
  content: '';
  inset: 0;
  opacity: 0.05;
  z-index: 0;
  pointer-events: none;
}

.order-grid-status.status-pending::after {
  background-color: var(--order-pending-color);
}

.order-grid-status.status-processing::after {
  background-color: var(--order-processing-color);
}

.order-grid-status.status-shipped::after {
  background-color: var(--order-shipped-color);
}

.order-grid-status.status-delivered::after {
  background-color: var(--order-delivered-color);
}

.order-grid-status.status-cancelled::after {
  background-color: var(--order-cancelled-color);
}

.order-grid-status.status-returned::after {
  background-color: var(--order-cancelled-color);
}

.order-summary .space-between > * {
  flex: 1 1 96px;
}

.order-summary .space-between > *:last-child {
  text-align: right;
}

.status-update {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.btn-group .btn-flat {
  flex: 1 1 192px;
}

.review-btn {
  margin-top: 4px;
}
