#product #product-desc {
  --col-min-width: var(--page-min-width);
  --col-basis: 320px;
}

#product #product-desc > .desc {
  text-align: justify;
}

#product #product-image {
  align-items: center;
  --col-min-width: var(--page-min-width);
  --col-basis: 512px;
}

#product-image .image {
  padding-bottom: calc((1 / var(--image-viewer-aspect-ratio)) * 100%);
}

#product .product-info .image-viewer {
  --image-viewer-nav-height: 64px;
  width: 100%;
  height: auto;
  max-width: var(--image-viewer-max-width);
  min-width: var(--product-card-width);
  border-radius: 0;
  background-color: transparent;
}

#product-image .image-viewer .image {
  position: relative;
  width: 100%;
  height: 0;
}

#product-image .image-viewer .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#product .container > * {
  margin-bottom: 8px;
}
