.form-item {
  width: 100%;
  padding: 2px;
}

.form-item h3 {
  margin-bottom: 8px;
}

.form-item:hover h3,
.form-item:focus-within h3 {
  color: inherit;
}

.form-footer,
.optional {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.form-footer {
  position: sticky;
  bottom: 8px;
}

.product-review-modal {
  position: relative;
  position: absolute;
  right: 0;
  top: 0;
  animation: slide-left 0.3s ease-in-out;
  max-width: 396px;
  width: 100%;
  height: 100%;
  background-color: var(--form-color);
  padding-inline: 16px;
  padding-top: 40px;
  border-radius: var(--container-border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.product-header-card-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-review-modal .close-modal-btn {
  position: absolute;
  top: 4px;
  right: 16px;
  margin-left: auto;
  padding: 12px;
  border: none;
}

.product-review-form {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.product-review-form > * {
  margin-bottom: 16px;
}

.product-review-form:invalid .optional,
.product-review-form:invalid .form-footer {
  opacity: 0;
  pointer-events: none;
}

.product-header-card {
  align-items: center;
  gap: 8px;
}

.product-header-card-image {
  max-width: 64px;
}

.product-header-card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.star-rating-container {
  --rating-height: 32px;
  width: fit-content;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 16px;
  margin-bottom: 24px;
}

.star-rating-container:hover .star-rating-input:checked ~ label .star-icon.filled,
.star-rating-container:hover .star-rating-input:checked + label::after {
  opacity: 0;
}

.star-rating-label {
  cursor: pointer;
  position: relative;
}

.star-rating-input {
  display: none;
}

.star-rating-label .star-icon {
  background-color: var(--rating-color);
  margin-inline: 4px;
  width: var(--rating-height);
  height: var(--rating-height);
}

.star-rating-label .star-icon.filled {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.star-rating-input:checked ~ label .star-icon.filled {
  opacity: 1;
}

.star-rating-input:hover ~ label .star-icon.filled {
  opacity: 0.7 !important;
}

.star-rating-label:hover::after,
.star-rating-input:checked + label::after {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2px;
  font-size: 12px;
}

.star-rating-label:hover::after {
  opacity: 1 !important;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .product-review-modal {
    max-width: 100%;
    top: unset;
    bottom: 0;
    height: 100%;
    max-height: 512px;
    border-radius: var(--container-border-radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-inline: 8px;
    animation: slide-up 0.3s ease-in-out;
  }
}
