table {
  --table-row-gap: 0em;
  border-collapse: separate;
  width: 100%;
  font-size: 14px;
  word-break: break-all;
  border-spacing: 0 var(--table-row-gap);
}

th {
  text-align: left;
}

td,
th {
  padding: 4px;
}

.product-header {
  width: 72px;
}

.product-header img {
  object-fit: contain;
  width: 100%;
  border-radius: var(--element-border-radius);
  background-color: var(--light-gray-100);
}

.product-review-list .product-title {
  height: 1.5em;
  position: relative;
  min-height: fit-content;
}

.product-review-list .product-title span {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden;
  font-weight: normal;
}

.product-image-cell {
  width: 1%;
  vertical-align: top;
}

@media (max-width: 360px) {
  .product-header {
    height: 64px;
  }
}
