.searchbar-container {
  border-radius: var(--container-border-radius);
  background-color: var(--form-color);
  padding: 8px;
}

#searchbar {
  position: relative;
  min-width: 96px;
  outline-width: 1px;
  cursor: text;
  padding: 0;
  height: 32px;
  margin: 0 auto;
  width: 100%;
  height: 32px;
  box-shadow: none;
}

#search-button {
  position: absolute;
  right: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 8px;
  font-size: 1.2em;
  height: 100%;
}

#search-input {
  width: 100%;
  background-color: var(--form-color);
  margin-top: 0;
  padding-right: 36px;
}

.search-result {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px 0;
}

.search-result-item.see-more {
  padding: 8px;
  cursor: pointer;
}

.search-result-item.see-more .icon {
  margin-left: 32px;
  margin-right: 8px;
  min-width: 16px;
  height: 16px;
}

.search-result-item {
  border-radius: var(--container-border-radius);
  width: 100%;
  display: flex;
  text-decoration: none;
  color: inherit;
}

.search-result-item .result-title {
  min-width: 0;
}

.search-result-item:hover {
  background-color: var(--light-gray-100);
}

.search-result-item:hover .result-title {
  color: var(--confirm-color);
}

.search-result-item .thumbnail {
  width: 64px;
  height: 64px;
  min-width: 64px;
  border-radius: 9999px;
  overflow: hidden;
}

.search-result-item .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
