.showcase-container {
  --showcase-item-min-height: 256px;
  --showcase-btn-size: 200px;
  --carousel-button-size: 28px;
  flex-wrap: wrap;
  gap: 16px;
}

.showcase-container .carousel {
  padding-inline: 0;
  height: 100%;
  border-radius: var(--container-border-radius);
  overflow: hidden;
}

.showcase-container .carousel-wrapper {
  flex: 1 1 768px;
}

.showcase-carousel {
  scroll-snap-type: x mandatory;
  min-height: 320px;
}

.showcase-carousel,
.showcase-product {
  padding-inline: 0;
  padding-block: 0;
  height: 100%;
  color: white;
  border-radius: var(--container-border-radius);
  background: var(--showcase-carousel-bg);
}

.showcase-carousel .showcase-carousel-item {
  padding-left: 0;
  scroll-snap-align: start;
  flex: 1 0 auto;
  width: 100%;
  position: relative;
}

.showcase-image {
  flex: 1 1 320px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 320px;
}

.showcase-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  object-position: center center;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.showcase-container .showcase-title {
  margin-left: 0;
  text-transform: uppercase;
  font-size: x-large;
}

.showcase-carousel-card,
.showcase-product {
  gap: 16px;
  padding: 16px;
}

.showcase-carousel-card {
  padding-inline: 48px;
  padding-block: 32px;
}

.showcase-product {
  flex-wrap: wrap;
  flex: 1 1 256px;
  background: var(--showcase-product-bg);
}

.showcase-product .showcase-image {
  flex: 1 1 128px;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 384px;
  gap: 16px;
}

.showcase-product .showcase-content {
  align-items: center;
  justify-content: center;
  flex: 1 1 192px;
}

.showcase-product .showcase-title {
  text-align: center;
  font-size: larger;
  min-height: 2em;
}

.showcase-btn {
  max-width: var(--showcase-btn-size, 200px);
}

.showcase-container .carousel-btn .icon {
  background-color: white;
}

.showcase-carousel-item .showcase-title {
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.showcase-carousel-item.active .showcase-title {
  transition-delay: 0.3s;
  transform: translateY(0);
}

.showcase-desc {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition-delay: 0s;
}

.skeleton .showcase-desc {
  opacity: 1;
  transform: translateY(0);
}

.skeleton .showcase-title {
  transform: translateY(0);
}

.showcase-carousel-item.active .showcase-desc {
  transform: translateY(0);
  transition-delay: 0.6s;
  opacity: 1;
}

.showcase-carousel-item.active .showcase-image img {
  transition-delay: 0.6s;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .showcase-container .carousel-wrapper {
    flex: 1 1 400px;
  }

  .showcase-container .showcase-carousel-card {
    flex-direction: column;
  }

  .showcase-carousel-card .showcase-image {
    flex-basis: 512px;
  }

  .showcase-carousel-card .showcase-content {
    flex-basis: 192px;
  }

  .showcase-carousel-card .showcase-content {
    justify-content: center;
    align-items: center;
  }

  .showcase-desc {
    text-align: center;
  }

  .showcase-title {
    text-align: center;
  }
}

.showcase-carousel-item .observer {
  position: absolute;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.showcase-container .carousel:hover .timer-bar-progress {
  animation-play-state: paused !important;
}

@media (max-width: 512px) {
  .showcase-product .showcase-title {
    font-size: medium;
  }

  .showcase-btn {
    max-width: 128px;
  }

  .showcase-container .showcase-carousel-card {
    padding: 16px;
  }
}

@media (hover: hover) {
  .showcase-product:hover img {
    transform: scale(1.05);
  }
}
