#menu-btn {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  background-color: transparent;
  border: none;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  transform: translateX(100%);
  overflow: hidden;
  border-radius: var(--container-border-radius);
  background-color: var(--body-color);
  padding-top: var(--nav-height);
  opacity: 0;
  cursor: default;
  user-select: none;
  transition: opacity 200ms ease-in-out, transform 200ms ease-out;
  --icon-gap: 12px;
}

#sidebar[data-active='true'] {
  opacity: 1;
  transform: translateX(0);
  height: calc(100vh - var(--nav-height) + 38px);
  width: auto;
}

#sidebar[data-active='false'] {
  visibility: hidden;
}

#sidebar ul {
  margin: 0;
  padding: 5px 5px;
}

#sidebar li .sidebar-btn:hover {
  background-color: var(--light-gray-100);
}

#sidebar li .sidebar-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  border-radius: var(--element-border-radius);
  transition: all 100ms ease-in-out;
  white-space: nowrap;
  padding: 8px;
  padding-right: 64px;
  gap: var(--icon-gap, 10px);
}

#sidebar li .icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  margin-bottom: auto;
}

.sidebar-inner {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.sidebar-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.sidebar-container[data-active='true'] {
  z-index: 101;
}
