.page-loader .loader {
  --loader-size: 50px;
}

.page-loader {
  position: relative;
}

.loader {
  --loader-size: 32px;
  --spinner-gap: calc(var(--loader-size) / 6);
  --spinner-size: calc(var(--loader-size) / 3);
  --loader-width: calc(var(--spinner-size) * 3 + var(--spinner-gap) * 2);
  position: relative;
  width: var(--loader-width);
  height: var(--loader-size);
  margin: 0 0.5em;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0s;
}

.loader.idle {
  opacity: 0;
}

.loader * {
  pointer-events: none;
}

.spinner {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.spinner div {
  position: absolute;
  top: var(--spinner-size);
  width: var(--spinner-size);
  height: var(--spinner-size);
  border-radius: 9999px;
  background: var(--primary-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.spinner div:nth-child(1) {
  left: 0;
  animation: grow 0.6s infinite;
}
.spinner div:nth-child(2) {
  left: 0;
  animation: move-right 0.6s infinite;
}
.spinner div:nth-child(3) {
  left: calc(var(--spinner-size) + var(--spinner-gap));
  animation: move-right 0.6s infinite;
}
.spinner div:nth-child(4) {
  left: calc(var(--spinner-size) * 2 + var(--spinner-gap) * 2);
  animation: shrink 0.6s infinite;
}
@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes move-right {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(var(--spinner-size) + var(--spinner-gap)), 0);
  }
}
