.split-total {
  --col-basis: 320px;
  --col-min-width: auto;
  --col-max-width: 320px;
  height: fit-content;
  position: sticky;
  top: calc(var(--nav-sticky-top) + var(--nav-height) + var(--page-padding-y));
  transition: var(--nav-bring-down-transition);
}
.split-total .total-info {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.split-total .container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
}

.split-total .container > * {
  margin-bottom: 8px;
}

.split-total .container > *:last-child {
  margin-bottom: 0;
}

.split-info {
  --col-min-width: var(--page-min-width, 300px);
  --col-basis: 400px;
}

.total-title,
.space-between .value-title {
  color: var(--dark-gray);
}

.total-price {
  text-align: right;
  font-size: 22px;
  font-weight: 600;
}

.proceed-btn {
  width: 100%;
  max-width: 100%;
  margin: auto;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .split-info {
    --col-basis: 100%;
    --col-min-width: 100%;
  }

  .split-total {
    --col-max-width: 100%;
    top: unset;
    bottom: var(--page-padding-y, 10px);
  }

  .split-total .container > * {
    margin-bottom: 8px;
  }

  .split-total .container {
    border-color: var(--border-color);
  }

  .proceed-btn {
    max-width: 240px;
    margin: 0;
    margin-left: auto;
  }
}

@media (max-width: 400px) {
  .split-total .proceed-btn {
    max-width: 100%;
  }
}
