.add-product .icon {
  width: 24px;
  height: 24px;
  background-color: white;
}

.content-title {
  margin-block: 8px;
}

.image-uploader {
  gap: 8px;
}

.image-uploader:invalid,
.image-uploader.invalid {
  border-color: red;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
  gap: 8px;
}

.image-list .image,
.image-uploader label {
  width: 100%;
  aspect-ratio: 1;
}

.image-uploader .image-list .image:first-child img {
  outline: 2px solid var(--primary-color);
}

.image-uploader input[type='file'] {
  display: none;
}

.image-uploader label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: var(--element-border-radius);
  color: white;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.image-uploader label[data-disabled='true'] {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.image-uploader label[data-disabled='true']:hover {
  transition: none;
}

.image-uploader label .icon {
  width: 32px;
  height: 32px;
  background-color: white;
}

.image-uploader .icon {
  width: 16px;
  height: 16px;
  background-color: white;
}

.image-uploader .btn-group {
  gap: 4px;
  flex-wrap: wrap;
}

.image-uploader .image {
  position: relative;
  cursor: pointer;
}

.image-uploader .image::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.472);
}

.image-uploader .circular-progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.image-uploader .file-count {
  text-align: center;
}

.image-uploader .image.completed::after {
  animation: fade-out 0.5s ease forwards 0.5s;
}

.product-search {
  max-width: 320px;
  gap: 4px;
  transition: max-width 0.4s ease-in-out;
}

.product-search:focus-within {
  max-width: 512px;
}

.store-products .form-wrapper {
  --form-max-width: 100%;
}

.store-products .form-wrapper input:valid,
.store-products .form-wrapper fieldset.valid,
.store-products .form-wrapper select:valid,
.store-products .form-wrapper textarea:valid {
  border-color: rgb(0, 161, 16);
}

.store-products h3 {
  margin-bottom: 16px;
}

.store-products > * {
  margin-block: 8px;
}

.store-products .small-btn,
.btn-group button {
  flex-shrink: 0;
  width: fit-content;
  padding: 8px 16px;
  line-height: normal;
  border-radius: var(--element-border-radius);
  font-size: 14px;
}

.store-products .btn {
  max-width: 256px;
}

.store-product-card {
  padding: 8px;
  flex-direction: row;
  max-width: unset;
  gap: 8px;
  width: auto;
  align-items: center;
}

.store-product-card .desc {
  flex: 1 1 auto;
  overflow: hidden;
  padding: 8px;
}

.store-product-card .image {
  flex-shrink: 0;
  overflow: hidden;
  width: 96px;
  height: 96px;
}

.store-product-card .id-text {
  font-size: 14px;
  line-height: 16px;
}

.store-product-card:hover .image img {
  transform: none;
  transition: none;
}

.store-search-results {
  padding: 16px 8px;
  gap: 16px;
  max-height: 320px;
  overflow: visible;
  overflow-y: auto;
}

.store-products .selected {
  outline: 2px solid rgb(0, 208, 255) !important;
}

.store-dashboard {
  width: 100%;
}

.tabs {
  background-color: var(--light-gray);
  padding: 0 16px;
  padding-top: 8px;
  border-radius: var(--container-border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
}

.tabs-list-item {
  color: var(--light-gray-800);
}

.tabs-list-item .icon {
  background-color: var(--light-gray-600);
}

.tabs-list-item,
.tabs .selected {
  user-select: none;
  display: flex;
  align-items: center;
  padding: 16px 16px;
  border-radius: var(--element-border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  gap: 4px;
  cursor: pointer;
}

.tabs-list-item.active,
.tabs .selected {
  color: inherit !important;
  background-color: var(--form-color) !important;
}

.tabs .icon {
  width: 20px;
  height: 20px;
}

.tabs-list-item.active .icon {
  background-color: black !important;
}

.tabs .select {
  position: static;
  display: none;
  border: none;
  max-width: fit-content;
}

.tabs .select .options {
  left: 16px;
  right: unset;
}

.tabs .select .option {
  padding: 8px;
}

.tabs .select .option label .icon {
  margin-right: 4px;
}

.tabs .selected > * {
  margin: 0;
}

.tabs .selected .icon:last-child {
  width: 12px;
  height: 12px;
}

.update-product .submit-btn {
  margin-top: 16px !important;
}

@media (max-width: 448px) {
  .store-product-card {
    flex-direction: column;
  }

  .store-product-card .desc {
    text-align: center;
  }

  .tabs-list {
    display: none;
  }
  .tabs .select {
    display: block;
    white-space: normal;
  }

  .tabs .selected {
    white-space: wrap;
  }

  .tabs .selected > * {
    flex-shrink: 1;
  }
}

@media (hover: hover) {
  .tabs-list-item:hover {
    background-color: var(--light-gray-100);
    color: var(--confirm-color);
  }

  .tabs-list-item:hover .icon {
    background-color: var(--confirm-color);
  }
}
